@model MVCWatches.Models.Watches

@{
    ViewData["Title"] = "Detalhes";
}

<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <h4 class="alinhamento">Detalhes do produto<br /><b class="name_color">@Html.DisplayFor(model => model.Nome)</b></h4>
        <hr />
        <table class="table table-striped table-bordered table-hover">
            <tbody>
                <tr>
                    <th scope="row">@Html.DisplayNameFor(model => model.Categoria): </th>
                    <td>@Html.DisplayFor(model => model.Categoria)</td>
                </tr>
                <tr>
                    <th scope="row">@Html.DisplayNameFor(model => model.Nome):</th>
                    <td>@Html.DisplayFor(model => model.Nome)</td>
                </tr>
                <tr>
                    <th scope="row">@Html.DisplayNameFor(model => model.Marca):</th>
                    <td>@Html.DisplayFor(model => model.Marca)</td>
                </tr>
                <tr>
                    <th scope="row">@Html.DisplayNameFor(model => model.Valor):</th>
                    <td>@Html.DisplayFor(model => model.Valor)</td>
                </tr>
                <tr>
                    <th scope="row">@Html.DisplayNameFor(model => model.Cor):</th>
                    <td>@Html.DisplayFor(model => model.Cor)</td>
                </tr>
                <tr>
                    <th scope="row">@Html.DisplayNameFor(model => model.Ano):</th>
                    <td>@Html.DisplayFor(model => model.Ano)</td>
                </tr>
            </tbody>
        </table>
        <hr />
        <div>
            <a asp-action="Edit" asp-route-id="@Model?.IDWatch" class="btn btn-warning btn-sm">Editar</a>
            <a asp-action="Index" class="btn btn-primary btn-sm">Voltar a listagem</a>
        </div>
    </div>
    <div class="col-md-4"></div> 
</div>
